@media screen and (min-width: 768px) {
    /* HEADER */
    nav {
        flex-direction: row;
        justify-content: space-around;
        background-color: #003366;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        background: none;
    }

    nav ul li {
        display: inline;
    }

    #menu-toggle {
        display: none; /* Hide hamburger on larger screens */
    }

    /* MAIN */
    main {
        max-width: 1000px;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }

    figure {
        padding: 15px;
    }
}
